<%= form_with(model: @node, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.collection_select :parent_id, Node.all, :id, :title, { prompt: "Select parent node (optional)" } %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
